<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <p-inputGroup>
      <p-inputGroupAddon>
        <i class="pi pi-user"></i>
      </p-inputGroupAddon>
      <input pInputText formControlName="firstName" placeholder="First Name" />
    </p-inputGroup>
    <p-inputGroup>
      <p-inputGroupAddon>
        <i class="pi pi-user"></i>
      </p-inputGroupAddon>
      <input pInputText formControlName="lastName" placeholder="Last Name" />
    </p-inputGroup>
    <p-inputGroup>
      <p-inputGroupAddon>
        <i class="pi pi-envelope"></i>
      </p-inputGroupAddon>
      <input pInputText formControlName="email" placeholder="Email" />
    </p-inputGroup>
    <p-inputGroup>
      <p-inputGroupAddon>
        <i class="pi pi-key"></i>
      </p-inputGroupAddon>
      <input pInputText type="password" formControlName="password" placeholder="Password" />
    </p-inputGroup>
    <div class="button-container">
      <p-button label="Register" type="submit"></p-button>
    </div>
  </form>